
.headerdarksouls{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(/Assets/Arena/arena.jpg) center bottom no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center; 
    
}

.btn-1{
  display: inline-block;
  padding: 11px 35px;
  background-color: #CE9678;
  color: #F9FAFC;
  text-transform: uppercase;
}


.btn-1:hover{
    background-color: #ebad8d;
}

.Souls {
  padding: 100px;
  background-color: #E1E2E6;
  position: relative;
}

.Souls-content {
  text-align: center;
}
.Souls-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  text-transform: uppercase;
  padding: 0 250px;
  margin-bottom: 15px;
}

.txt-p {
  font-size: 16px;
  color: #414247;
  padding: 0 250px;
}

.Souls-group{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.Souls-1 img{
  width: 200px;
}

.Souls-img{
  position: absolute;
  top: 0;
  right: 0;
}

.Souls-1 h3 {
  color: #323337;
  font-size: 20px;
  margin-bottom: 15px;
}

 .ModoJuego{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)),
      url(/Assets/Arena/koi\ pond.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed; /*Efecto de imagen fija, no se mueve al bajar*/
      padding: 100px 0;
}

.ModoJuego-content {
  text-align: center;
}
.ModoJuego-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #F9FAFC;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.ModoJuego-content p{
  font-size: 16px;
  color: #C5C5C5;
  margin-bottom: 50px;
  padding: 0 100px;
}

.ModoJuego-group{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.ModoJuego-1 {
  padding: 0 100px;
}

.ModoJuego-1 img{
  width: 25px;
  margin-bottom: 15px;
}

.ModoJuego-1 h3{
  color: #EACCB3;
  font-size: 18 px;
}

.general {
  display: flex;
}

.general-1 {
  width: 50%;
  padding: 100px 250px 100px 100px; /*100 pixeles hacia arriba, 250 hacia derecha, 100 hacia abajo y 100 hacia izquierda*/
  background-color: #E1E2E6;
}

.general-2 {
  background-image: url(/Assets/DarkSouls3/images/Dark-Souls-3-Mods.avif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.general-3 {
  background-image: url(/Assets/DarkSouls3/images/pvp.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

h2{
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p{
font-size: 16px;
color: #414247;
margin: 25px 0 45px 0;
}

.Boss{
  padding: 100px 0;
  text-align: center;
}

.Boss-content {
  display: flex;
  justify-content: space-between;
}

.Boss-1 {
  padding: 15px 55px;
}

.Boss-1 img {
  width: 250px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.Boss-1 h3{
  font-size: 25px;
  color: #323337
}


@media(max-width:992px){
  .menu{
    padding: 30px;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #323337;
    display: none;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  #menu:checked ~ ,.navbar {
    display: initial;
  }
  
  .headerdarksouls{
    min-height: 0vh;
  }

  .headerdarksouls-content p {
    padding: 0;
  }

  .Souls {
    padding: 30px;
  }

  .Souls-content h2 {
    padding: 0;
  }

  .txt-p {
    padding: 0;
  }

  .Souls-group {
    flex-direction: column;
    margin-bottom: 0;
  }
.Souls-img{
  display: none;
}

.ModoJuego {
  padding: 30px;
}

.ModoJuego-content p {
  padding: 0;
}

.ModoJuego-group {
  flex-direction: column;
  margin-bottom: 0;;
}

.ModoJuego-1 {
  margin-bottom: 25px;
}

.footer {
  padding: 30px;
}

.footer-content {
  flex-direction: column;
  text-align: centrer;
}

}

@media screen and (max-width: 768px) {
  .Souls-group {
      flex-direction: column;
  }

  .Souls-1 {
      flex-basis: 100%;
      margin-bottom: 50px;
  }

  .ModoJuego-group {
      flex-direction: column;
  }

  .ModoJuego-1 {
      flex-basis: 100%;
      margin-bottom: 50px;
  }
}
